# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Flask / SQLAlchemy stuff
*.log
*.sqlite3
instance/
*.pyc

# Environment variables
.env

# Pytest
.pytest_cache/
.tox/

# macOS
.DS_Store

# VSCode
.vscode/
.idea/

# Ignore virtual environment folders
blog_env/
env/
venv/
*.swp
*.swo
